@using HrmsSolution.Components.Shared
@inherits LayoutComponentBase

<PageTitle>TestApp</PageTitle>

<Head />
<div class="page">
    <div class="">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

