@* @page "/campus"
@inject HrmsAppSolution.Services.CampusService CampusService

<h3>รายชื่อวิทยาเขต</h3>

@if (campuses == null)
{
    <p>กำลังโหลดข้อมูล...</p>
}
else
{
    <ul>
        @foreach (var c in campuses)
        {
            <li>@c.CampId - @c.CampNameThai (@c.CampNameEng)</li>
        }
    </ul>
}

@code {
    private List<Datamodels.Hrms.Campus>? campuses;

    protected override async Task OnInitializedAsync()
    {
        campuses = await CampusService.GetAllCampusAsync();
    }
} *@
