@* HrmsSolution/Components/App.razor *@
@using Microsoft.AspNetCore.Components.Web

@*
    HeadOutlet สำหรับจัดการ <title> และ tags อื่นๆ ใน <head> 
    (ใน Blazor Web App มักจะถูก Render ผ่าน _Layout.cshtml หรือ index.html)
*@
<HeadOutlet />

@* Router: ใช้สำหรับนำทางตาม URL 
    AdditionalAssemblies: ต้องระบุ Client Assembly เพื่อให้ Blazor ค้นหา Component ใน Client Project ได้
*@
<Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(HrmsSolution.Client._Imports).Assembly }">

    <Found Context="routeData">
        <RouteView RouteData="routeData"
                   DefaultLayout="typeof(Layout.MainLayout)"
                   RenderMode="new InteractiveAutoRenderMode()" @* **กำหนด Interactive Auto ให้ทุกหน้าโดยอัตโนมัติ** *@ />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>

    <NotFound>
        @* ส่วนแสดงผลเมื่อไม่พบเส้นทาง (404 Page) *@
        <PageTitle>Not found</PageTitle>
        <div class="container-fluid d-flex justify-content-center" style="background-color: #030637; width: 100vw;height: 100vh;">
            <div class="card m-5" style="border-radius: 1rem; width: 100rem;">
                <div class="card-header">
                    <span class="dot"></span>
                    <span class="dot-2"></span>
                    <span class="dot-3"></span>
                </div>
                <div class="card-body text-center">
                    <img src="picture/404NotFound.svg" class="img-fluid" alt="Responsive image" width="500"
                         height="300" />
                    <h1 class="card-title">Page Not Found</h1>
                    <p class="card-text fw-light ">
                        We're sorry.the page you request could not be found
                        <mark>Please go back to the homepage</mark>
                    </p>
                    <NavLink href="" class="btn btn-primary btn-lg">Go Homepage</NavLink>
                </div>
            </div>
        </div>
    </NotFound>
</Router>