@using AntDesign
@using CurrieTechnologies.Razor.SweetAlert2
@inject SweetAlertService Swal

<nav class="navbar navbar-expand-sm navbar-dark px-4">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="">
                        <span class="bi bi-house-fill px-2"></span> หน้าแรก
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="report">
                        <span class="bi bi-bar-chart-line-fill px-2"></span>รายงาน
                    </a>
                </li>
                <li class="nav-item text-white">
                    <a class="nav-link text-white" href="setting">
                        <span class="bi bi-gear-wide-connected px-2"></span>ตั้งค่า
                    </a>
                </li>
            </ul>
            <div class="d-flex">
                <Dropdown Trigger="@(new Trigger[] { Trigger.Click })" Placement="Placement.BottomRight">
                    <Overlay>
                        <Menu Style="width: 12rem;">
                            <MenuItem>
                                <NavLink class="nav-link text-black" @onclick="ShowLogoutConfirmation">
                                    <span class="bi bi-arrow-left-circle-fill px-2" aria-hidden="true"></span> ออกจากระบบ
                                </NavLink>
                            </MenuItem>
                        </Menu>
                    </Overlay>
                    <ChildContent>
                        <div class="nav-item px-4">
                            <NavLink class="nav-link" @onclick:preventDefault>
                                <Icon Type="user" Class="px-1"></Icon> Anonymous
                            </NavLink>
                        </div>
                    </ChildContent>
                </Dropdown>
                <div class="nav-role">
                    <ChangeLanguae />
                </div>                 
            </div>
        </div>
    </div>
</nav>

@code {
    private async Task ShowLogoutConfirmation()
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
        {
                Title = "ออกจากระบบ",
                Text = "ขอบคุณที่ใช้บริการ กำลังเข้าสู่หน้าเข้าสู่ระบบ",
                Icon = SweetAlertIcon.Success,
                Timer = 3000,
                ShowConfirmButton = false
        });
    }
}
